@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.tile__item {
  background-color: beige;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tile__item p {
  font-weight: bold;
  font-size: large;
  text-align: center;
}
